# Virtual Environment
venv/
env/
*/venv/
*/env/
.venv/

# Build artifacts
deb_build/
build/
dist/
mkcert_bundle_output/
dist_appimage/
Grazr.AppDir/
AppDir
*.deb
*.egg-info/
*.pyc
__pycache__/

# IDE / OS files
.idea/
.vscode/
*.DS_Store
*.swp