<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">

<policyconfig>

  <vendor>Grazr Project</vendor>
  <vendor_url>https://github.com/ArtMin96/linuxherd</vendor_url>
  <icon_name>utilities-terminal</icon_name>

  <action id="com.grazr.pkexec.manage_service">
    <description>Manage system services and hosts file for Grazr</description>
    <message>Authentication is required to manage system services (like Dnsmasq status checks) or modify the /etc/hosts file for local domain resolution used by Grazr.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/grazr_root_helper.py</annotate>
  </action>

</policyconfig>